<h1>Stupid coaching</h1>
<p class= "question"> <em>Your question:</em></p>
<p class= "text-black-50"> - <%= @question %></p>

<p class= "answer"> <em>The Coach answers:</em></p>

<p class= "text-black-50"> - <%= @answer %></p>
<p> <%= link_to "Ask another question", '/ask' %> </p>
