<h1>Stupid coaching</h1>
<p>Say something to The Coach</p>
<form clas="form-inline" action="answer">
  <input type="text" name="question" placeholder= "Say something to the coach">
  <input type="submit" class="btn btn-primary" value="Ask!">
</form>
